build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/VivekKB1410/voter

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-voter
deploy:
  type: text
  content: >-
    #/bin/sh

    cd $ROOST_WORK_DIR/git/VivekKB1410/voter


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    echo "helm install api-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS} key1 is ${key1}"


    helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter/
Last Updated By: Vivek K B
Last Updated On: 2022-07-07T11:13:30.310Z
